.upload-box {
  font-size: 16px;
  border: none;
}

::-webkit-file-upload-button {
  color: #c7f9cc;
  background-color: #22577a;
  padding: 15px;
  border: none;
  border-radius: 5px;
}


styleArea {
  font-size: 16px;
  padding-bottom: 20px;
}


.container-property-form{
  max-width: 600px;
  height: 870px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
}

.container-property-form button{
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #22577a;
  font-size: large;
  font-weight: bold;
  
}

.container-property-form button:hover{
  cursor :pointer;
  background-color: #57cc99;
}