/* Estilos específicos para ContactForm */
.contact-form-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
}

.contact-form-container h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
}

.contact-form-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1em;
  color: #333;
}

.contact-form-container input,
.contact-form-container select,
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #f9f9f9;
}

.contact-form-container .tArea {
  resize: none;
}

.contact-form-container .error {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.contact-form-container .success-message {
  text-align: center;
  padding: 15px;
  background-color: #d4edda;
  color: #155724;
  border-radius: 5px;
}

.contact-form-container button {
  width: 100%;
  padding: 10px 0;
  background-color: #007bff; /* Color azul similar al botón de Login */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form-container button:hover {
  background-color: #0056b3;
}
