/* Estilos específicos para ContactForm */
.contact-form-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
}

.contact-form-container h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
}

  input, select, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:hover, select:hover, textarea:hover {
    border-color: #bbb;
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: #b64359;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
  }


  /* Estilo Simbolos "+" "-" */

  /* .filter-label {
    flex: 1;
    text-align: left;
    font-size: 1.2rem;
  }
  
  .filter-value {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
  } */

  /* .custom-button {
    flex: 1;
    text-align: center;
  } */

  .custom-brder.active {
    background-color: transparent;
    border-color: black;
    color: black;
  }

  /* Clase personalizada para aplicar el color a los botones */
.btn-custom {
  color: white;
  background-color: #b64359;
  border-color: #b64359;
}

.btn-custom.active, .btn-custom:active {
  background-color: #f7838d;
  border-color: #f7838d;
}

.btn-outline-secondary {
  border: 2px solid #6c757d; /* Ajusta el color del borde según sea necesario */
  color: #6c757d; /* Ajusta el color del texto según sea necesario */
}

.btn-outline-secondary:hover {
  background-color: #b64359; /* Color al pasar el mouse */
  border-color: #b64359; /* Color del borde al pasar el mouse */
  color: white; /* Color del texto al pasar el mouse */
}

.btn-outline-secondary:disabled {
  opacity: 0.5; /* Ajusta la opacidad del botón deshabilitado */
}
  
  /* Estilo para inputs de Precio*/
  .custom-input {
    width: 100px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilo para etiquetas */
  label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #444;
  }
  
  /* Botón de enviar */
  button {
    background-color: #b64359;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    margin: 20px auto;
    display: block;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:hover {
    background-color: #f7838d;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  /* Mensaje de éxito */
  .success-message {
    background-color: #e8f5e9;
    color: #f7838d;
    border: 1px solid #b64359;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  /* Estilo para errores */
  .error {
    color: red;
    font-size: 0.9rem;
  }
  
  /* Estilo para el select personalizado */
  select {
    appearance: none; /* Eliminar la flecha predeterminada */
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    font-size: 1rem;
    color: #444;
    width: 100%;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon fill="%23444" points="0,0 10,0 5,5"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%; /* Ajustar la posición horizontal de la flecha */
    background-position-y: 50%; /* Centrar la flecha verticalmente */
    padding-right: 30px; /* Espacio para la flecha */
  }
  
  select:focus {
    border-color: #b64359;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
    outline: none;
  }
  
  /* Ajuste para campos en pantallas más pequeñas */
  @media (max-width: 600px) {
    form {
      padding: 20px;
    }
  
    h1 {
      font-size: 2.2rem;
    }
  
    h2 {
      font-size: 1.6rem;
    }
  
    input, select, textarea {
      padding: 12px;
      font-size: 0.95rem;
    }
  
    button {
      font-size: 1rem;
      padding: 12px;
    }
  }
  
