/* 
    General Styles used on every website (Don't Repeat Yourself)
    */
    
  .container-login-form {
      max-width: 600px;
      margin: 30px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #e6e6e6;
    }

.submit {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #b64359;
  font-size: large;
  font-weight: bold;
}

.submit:hover {
  cursor: pointer;
  background-color: #f7838d;
}


.register {
  font-size: 18px;
}



#toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 30px;
  font-size: 22px;
  cursor: pointer;
}


a span{
  text-decoration: none;
  text-decoration-line: none;
}
