/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.submit {
  background-color: #22577a;
}

.submit:hover {
  cursor: pointer;
  background-color: #57cc99;
}


.register {
  font-size: 18px;
}



#toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 30px;
  font-size: 22px;
  cursor: pointer;
}


a span{
  text-decoration: none;
  text-decoration-line: none;
}
