.C-living {
    text-size-adjust: 20px;
    font-size: 20px;
    text-decoration: none;
}

.C-living:hover {
    color:  #b64359;
    text-decoration: underline  #b64359;
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.03);
    border: 2px solid #b64359; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}